
{% css 'https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css' %}
{% js 'https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js' %}

<section class="py-14 md:py-28">
    <div class="container"
        x-data="{ 
            currentPage: 1
        }"
    >
            <div class="text-center">
                <span class="font-bold font-display block mb-4 pt-4">{{ 'Unser Konfigurator für Ihren Bedarf an Unterweisungen' }}</span>
            </div>
            {% set form = craft.formie.forms.handle('teachingrequest').one() %}
            {% do craft.formie.registerAssets(form.handle) %}

            <div class="flex justify-center px-4">

                <form id="{{ form.formId }}" method="post" data-config="{{ form.configJson }}" data-loading-indicator="spinner" enctype="multipart/form-data" accept-charset="utf-8" data-submit-method="ajax" class="w-96 max-w-sm fui-form fui-labels-above-input">
                    {{ csrfInput() }}
                    {{ actionInput('formie/submissions/submit') }}
                    {{ hiddenInput('handle', form.handle) }}

                    <div class="mb-12 mt-12">
                        <div id="trainingrequest-1" x-show="currentPage == 1">
                            <div class="mb-6">{{ craft.formie.renderField(form, 'teachingtype') }}</div>
                            <div class="mb-6">{{ craft.formie.renderField(form, 'traineesNumber') }}</div>
                            <div class="mb-6">{{ craft.formie.renderField(form, 'industry') }}</div>
                        </div>
                        <div id="trainingrequest-2" x-show="currentPage == 2">
                            {{ craft.formie.renderField(form, 'teachingNeed') }}
                        </div>
                        <div id="trainingrequest-3" x-show="currentPage == 3">
                            <div class="mb-6">{{ craft.formie.renderField(form, 'companyname') }}</div>
                            <div class="mb-6">{{ craft.formie.renderField(form, 'phonenumber') }}</div>
                            <div class="mb-6">{{ craft.formie.renderField(form, 'acceptPrivacy') }}</div>
                        </div>
                    </div>

                    <div class="flex justify-between items-center">
                        <div>
                            <a href="#" class="text-sm opacity-75 hover:opacity-100" @click.prevent="currentPage--" x-show="currentPage != 1">&larr; {{ 'Zurück'| t }}</a>
                        </div>
                        <a href="#" @click.prevent="currentPage++" x-show="currentPage < 3" class="btn">Weiter</a>
                        <button type="submit" x-show="currentPage == 3" class="btn">Anfrage senden</button>
                    </div>


                </form>
            </div>
           

    </div>
</section>
